/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 5px;
}

/* Gradient Text */
.gradient-text {
  background-clip: text;
  background: linear-gradient(45deg, #4f46e5, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  overflow: hidden;
}

/* Light effect with bouncing animation */
#home::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(79, 70, 229, 0.3) 0%,
    transparent 70%
  );
  animation: bouncingLight 15s infinite;
  pointer-events: none;
  z-index: 0;
  border-radius: 50%;
}

@keyframes bouncingLight {
  0% {
    transform: translate(0, 0);
    animation-timing-function: ease-out;
  }
  20% {
    transform: translate(calc(100vw - 250px), calc(50vh - 125px));
    animation-timing-function: ease-in;
  }
  40% {
    transform: translate(calc(50vw - 125px), calc(100vh - 250px));
    animation-timing-function: ease-out;
  }
  60% {
    transform: translate(0, calc(30vh));
    animation-timing-function: ease-in;
  }
  80% {
    transform: translate(calc(70vw - 175px), 0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0, 0);
    animation-timing-function: ease-in;
  }
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  #home::before {
    width: 120px;
    height: 120px;
  }

  @keyframes bouncingLight {
    0% {
      transform: translate(0, 0);
      animation-timing-function: ease-out;
    }
    20% {
      transform: translate(calc(100vw - 120px), calc(50vh - 60px));
      animation-timing-function: ease-in;
    }
    40% {
      transform: translate(calc(50vw - 60px), calc(100vh - 120px));
      animation-timing-function: ease-out;
    }
    60% {
      transform: translate(0, calc(30vh));
      animation-timing-function: ease-in;
    }
    80% {
      transform: translate(calc(70vw - 85px), 0);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translate(0, 0);
      animation-timing-function: ease-in;
    }
  }
}
